body {
	margin: 0;
}

.logo {
	padding: 56px;
	padding-top: 12px;
	padding-bottom: 17px;
	background: #EE3643;
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.bookmark::before {
	content: url("../img/icons/icon-bookmark.svg");
}

.cart-info:before {
	content: url("../img/icons/icon-cart.svg");
}

.phone::before {
	content: url("../img/icons/icon-phone.svg");
}

.login::before {
	content: url("../img/icons/icon-login.svg");
}

.user::before {
	content: url("../img/icons/icon-user.svg")
}

.user::after {
	content: url("../img/icons/icon-login-out.svg");
}

.home {
	content: url("../img/icons/icon-home.svg");
}

.item-cart::before {
	content: url("../img/icons/icon-cart.svg");
}